<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/edit.css"
<body>
    <main>
        <div>
            <form method="POST" action="/tracklog/<%=tracklog._id%>?_method=PUT">
                <fieldset class="log">
                    <legend class="title">Edit Track log</legend>
                    <label>Track: <input type="text" name="track" placeholder="Track name"/></label>
                    <label>Lap Time: <input type="text" name="lapTime" placeholder="Lap Time"/></label>
                    <label>Weather: <input type="text" name="weather" placeholder="Weather"/></label>
                    <label>Tire: <input type="text" name="tire" placeholder="tire"/></label>
                    <label>Model: <input type="text" name="model" placeholder="model"/></label>
                    <input type="submit" value="Edit"/>
                </fieldset>
                
            </form>
        </div>
    </main>
</body>
</html>