<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/index.css"
<body>
    <h1> TrackDay Tracker </h1>
    <main>
        <a href="/logout"><button>Log Out</button></a>
        
        <div class="info">
            <a class="New" href="/tracklog/new"> Create new Track log</a>
                    <% for (tracklog of tracklogs) { %>
                        <article>
                            <a href="/tracklog/<%=tracklog._id%>">
                                <h2>
                                <%=tracklog.track %>
                                </h2>
                            </a>
                        </article>
                <%}%>
        </div>
    </main>
</body>
</html>