<!DOCTYPE html>
<html lang="en">
<body>
    <main>
        <div>
            <a href="/user/logout"><button>logout</button></a>
            <a href="/tracklog/new"> Create new Track log</a>
                
                    
                    <% for (tracklog of tracklogs) { %>
                        <article>
                            <h2>
                                <%=tracklog.track %>
                            </h2>
                    </a>
                </article>
                <%}%>
        </div>
    </main>
</body>
</html>