<!DOCTYPE html>
<html lang="en">
<body>
    <main>
        <div>
            <form action="/tracklog" method="post">
                <fieldset>
                    <legend>Create new Track log</legend>
                    <label>Track: <input type="text" name="name" placeholder="Track name"/></label>
                    <label>Lap Time: <input type="text" name="laptime" placeholder="Lap Time"/></label>
                    <label>Temp: <input type="text" name="Temp" placeholder="Temp"/></label>
                    <label>Model: <input type="text" name="Model" placeholder="Model"/></label>
                    <label>Tire: <input type="text" name="Tire" placeholder="Tire"/></label>
                    <input type="submit" value="Create New Track log"/>
                </fieldset>
            </form>
        </div>
    </main>
</body>
</html>