<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/new.css"
<body>
    <main>
        <div>
            <form class="form" action="/tracklog" method="post">
                <fieldset>
                    <legend class="create">Create new Track log</legend>
                    <label class="t">Track: <input type="text" name="track" placeholder="Track name"/></label>
                    <label class="t">Lap Time: <input type="text" name="lapTime" placeholder="Lap Time"/></label>
                    <label class="t">Weather: <input type="text" name="weather" placeholder="Weather"/></label>
                    <label class="t">Tire: <input type="text" name="tire" placeholder="tire"/></label>
                    <label class="t">Model: <input type="text" name="model" placeholder="model"/></label>
                    <input type="submit" value="Create New Track log"/>
                </fieldset>
                
            </form>
        </div>
    </main>
</body>
</html>