<!DOCTYPE html>
<html lang="en">

<body>
    <main>
        <div>
            <article>
                <h2><%tracklog.track%></h2> 
                    <h3>
                        <%tracklog.laptime%> <br>
                        <%tracklog.Weather%> <br>
                        <%tracklog.Tire%> <br>
                        <%tracklog.Model%> 
                    </h3>
            </article>
        </div>
    </main>
</body>
</html>