<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/userlogin.css">
<body>
    <h1>TrackDay Tracker</h1>
    <main>
        <div>
            
            <form action="/login" method="post" class="login-form">
                <fieldset class="userlogin">
                    <legend class="username">User Login</legend>
                    <label class="form-label">USERNAME: <input type="text" name="username" required/></label>
                    <label class="form-label">PASSWORD: <input type="password" name="password" required/></label>
                    <input type="submit" value="Login"/>
                </fieldset>
                
            </form>
            <div class="container"> <a href="/signup"><button>Sign Up</button></a></div>
        </div>
    </main>
</body>
</html>