<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/signup.css"
<body>
  
    <main>
        <div>
            
            <form action="/signup" method="post">
                <fieldset class="signup">
                    <legend class="user">New User</legend>
                    <label class="username">USERNAME: <input type="text" name="username" required/></label>
                    <label class="username">PASSWORD: <input type="password" name="password" required/></label>
                    <input type="submit" value="Create Account"/>
                </fieldset>
            </form>
        </div>
    </main>
</body>
</html>